# Игнорировать директорию Git
.git/

# Игнорировать настройки IDE
.idea/

# Игнорировать журналы приложения
app_logs/

# Игнорировать данные PostgreSQL
pg_data/

# Игнорировать данные Redis
redis_data/

# Игнорировать артефакты сборки
target/

# Игнорировать файлы Markdown
*.md

# Игнорировать скрипты обертки Maven
mvnw.*

# Игнорировать файл .env
.env