# Игнорировать директорию Git
.git/

# Игнорировать настройки IDE
.idea/

# Игнорировать журналы приложения
app_logs/


# Игнорировать файлы Markdown
*.md

# Игнорировать скрипты обертки Maven
mvnw.*

# Игнорировать файл .env
.env

# Игнорировать файл cloud-file-storage.iml
cloud-file-storage.iml