<!-- HEAD -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>CloudFileStorage</title>
    <link th:href="@{/img/favicon.ico}" rel="icon" type="image/x-icon">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/fontello.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<!-- USERBAR -->
<div th:fragment="userbar">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div class="fs-3">
                <span class="fw-bold" th:text="'Привет, ' + ${user.getUsername()} + '!'"></span>
            </div>
            <button class="navbar-toggler button btn" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <i class="icon-menu icon"></i>
            </button>
            <div class="collapse navbar-collapse px-2" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <form action="/search" method="get">
                            <div class="input-group rounded">
                                <input class="form-control" placeholder="Поиск" name="query" required>
                                <button type="submit" class="button btn">
                                    <i class="icon-search"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="button btn">Выйти</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<!-- UPLOADZONE -->
<div th:fragment="uploadzone">
    <div class="container-fluid">
        <form th:action="@{/file/upload}" th:method="post" class="dropzone" enctype="multipart/form-data">
            <input type="hidden" name="currentPath" th:value="${breadcrumbs.currentPath}">
            <div class="fallback">
                <div id="myDropzone">
                    <div class="dz-message needsclick text-center">
                        <i class="icon-upload-cloud-outline fa-2x"></i>
                        <h3 class="fw-bold">Перетащите файлы или нажмите тут :)</h3>
                    </div>
                </div>
            </div>
        </form>
        <div class="container-fluid mt-3 mb-3">
            <div class="btn-group d-grid gap-2 d-sm-flex justify-content-sm-between">
                <button id="startUpload" class="btn button mb-1 mt-1">Загрузить все</button>
                <button id="clearQueue" class="btn button mb-1 mt-1">Убрать все</button>
            </div>
            <div class="dropzone-previews"></div>
        </div>
    </div>
</div>

<!-- BREADCRUMB -->
<div th:fragment="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item home-item"><a th:href="@{/}">Главная</a></li>
            <th:block th:if="${!#maps.isEmpty(breadcrumbs.directoryPath)}">
                <li th:if="${#maps.size(breadcrumbs.directoryPath) > 1}" class="breadcrumb-item ellipsis-item">
                    <a th:href="@{/(path=${breadcrumbs.directoryPath.values().toArray()[#maps.size(breadcrumbs.directoryPath) - 2]})}"
                       class="ellipsis" style="font-weight: bold;">...</a>
                </li>
                <th:block th:each="entry, iterStat : ${breadcrumbs.directoryPath}">
                    <li th:class="${'breadcrumb-item ' + (iterStat.last ? ' active last-item' : ' middle-item')}"
                        class="wrapped-text">
                        <a th:if="${!iterStat.last}" th:href="@{/(path=${entry.value})}" th:text="${entry.key}"
                           style="font-weight: bold;"></a>
                        <span th:if="${iterStat.last}" th:text="${entry.key}" style="font-weight: bold;"></span>
                    </li>
                </th:block>
            </th:block>
        </ol>
    </nav>
</div>

<!-- PREVIEWS -->
<div th:fragment="preview">
    <div class="dz-preview border rounded mb-1 mt-1 row">
        <div class="dz-details">
            <div class="row">
                <div class="col-7 col-sm-8 dz-filename"><span data-dz-name></span></div>
                <div class="col-3 col-sm-2 dz-size text-center" data-dz-size></div>
                <div class="col-2 col-sm-2 text-center">
                    <a href="javascript:;" class="dz-remove" data-dz-remove>
                        <strong class="d-none d-sm-inline">УБРАТЬ</strong>
                        <i class="d-inline d-sm-none icon-cancel"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="dz-progress">
                <span class="dz-upload" data-dz-uploadprogress></span>
            </div>
            <div class="dz-error-message text-center text-danger">
                <small data-dz-errormessage></small>
            </div>
        </div>
    </div>
</div>

<!-- MINIO OBJECT -->
<div th:fragment="minioitem">
    <div class="item-container border border-black rounded">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="action-icons-toggler toggle-actions" data-bs-toggle="collapse"
                                th:data-bs-target="'#actionIcons-' + ${item.hashCode()}" aria-expanded="false"
                                aria-controls="actionIcons">
                            <i class="item-action fa fa-ellipsis-v"></i>
                        </button>
                        <div th:id="'actionIcons-' + ${item.hashCode()}" class="collapse w-100">
                            <div class="d-flex justify-content-around">
                                <div>
                                    <form th:action="@{/file/remove}" method="post" th:if="${!item.itIsDir}">
                                        <input type="hidden" name="path" th:value="${item.fullPath}"/>
                                        <input type="hidden" name="objectName" th:value="${item.objectName}"/>
                                        <input type="hidden" name="_method" value="delete"/>
                                        <button type="submit" class="item-action delete-icon-action" title="Delete">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </form>
                                    <form th:action="@{/folder/remove}" method="post" th:if="${item.itIsDir}">
                                        <input type="hidden" name="path" th:value="${item.fullPath}"/>
                                        <input type="hidden" name="objectName" th:value="${item.objectName}"/>
                                        <input type="hidden" name="_method" value="delete"/>
                                        <button type="submit" class="item-action delete-icon-action" title="Delete">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </form>
                                </div>
                                <div>
                                    <a th:href="@{/path_to_edit_method}" class="item-action edit-icon-action"
                                       title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                                <div>
                                    <a th:href="@{/path_to_download_method}" class="item-action download-icon-action"
                                       title="Download">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a th:if="${item.itIsDir}" th:href="@{/(path=${breadcrumbs.currentPath + item.objectName + '/'})}"
               class="dir-link">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="item-icon"><i class="icon-folder-empty"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="wrapped-text text-center">
                            <span th:text="${item.objectName}" style="font-weight: bold;"></span>
                        </div>
                    </div>
                </div>
            </a>
            <th:block th:unless="${item.itIsDir}">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="item-icon"><i class="icon-doc-text"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="wrapped-text text-center">
                            <span th:text="${item.objectName}" style="font-weight: bold;"></span>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

<!-- OBJECTS LIST -->
<div th:fragment="itemsList">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4" th:each="item : ${items}">
                <th:block th:include="fragments/common :: minioitem"/>
            </div>
        </div>
    </div>
</div>