<!-- HEAD -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>CloudFileStorage</title>
    <link th:href="@{/img/favicon.ico}" rel="icon" type="image/x-icon">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/fontello.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<!-- USERBAR -->
<div th:fragment="userbar">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div class="fs-3">
                <span class="fw-bold" th:text="'Привет, ' + ${user.getUsername()} + '!'"></span>
            </div>
            <button class="navbar-toggler button btn" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <i class="icon-menu icon"></i>
            </button>
            <div class="collapse navbar-collapse px-2" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <div class="input-group rounded">
                            <input class="form-control" placeholder="Поиск" name="search" required>
                            <button type="submit" class="button btn">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </li>
                </ul>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="button btn">Выйти</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<!-- UPLOADZONE -->
<div th:fragment="uploadzone">
    <div class="container-fluid">
        <form th:action="@{/upload}" th:method="post" class="dropzone" enctype="multipart/form-data">
            <div class="fallback">
                <div id="myDropzone">
                    <div class="dz-message needsclick text-center">
                        <i class="icon-upload-cloud-outline fa-2x"></i>
                        <h3 class="fw-bold">Перетащите файлы или нажмите тут :)</h3>
                    </div>
                </div>
            </div>
        </form>
        <div class="container-fluid mt-3 mb-3">
            <div class="btn-group d-grid gap-2 d-sm-flex justify-content-sm-between">
                <button id="startUpload" class="btn button mb-1 mt-1">Загрузить все</button>
                <button id="clearQueue" class="btn button mb-1 mt-1">Убрать все</button>
            </div>
            <div class="dropzone-previews"></div>
        </div>
    </div>
</div>

<!-- BREADCRUMB -->
<div th:fragment="breadcrumb">
    <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">link 11111111111</a></li>
            <li class="breadcrumb-item"><a href="#">link 22222222222</a></li>
            <li class="breadcrumb-item"><a href="#">link 33333333333</a></li>
            <li class="breadcrumb-item active">link 44444444444</li>
        </ol>
    </nav>
</div>

<!-- PREVIEWS -->
<div th:fragment="preview">
    <div class="dz-preview border rounded mb-1 mt-1 row">
        <div class="dz-details">
            <div class="row">
                <div class="col-7 col-sm-8 dz-filename"><span data-dz-name></span></div>
                <div class="col-3 col-sm-2 dz-size text-center" data-dz-size></div>
                <div class="col-2 col-sm-2 text-center">
                    <a href="javascript:;" class="dz-remove" data-dz-remove>
                        <strong class="d-none d-sm-inline">УБРАТЬ</strong>
                        <i class="d-inline d-sm-none icon-cancel"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="dz-progress">
                <span class="dz-upload" data-dz-uploadprogress></span>
            </div>
            <div class="dz-error-message text-center text-danger">
                <small data-dz-errormessage></small>
            </div>
        </div>
    </div>
</div>

<!-- MINIO OBJECT -->
<div th:fragment="minioitem">
    <div class="item-container border border-black rounded">
        <div class="container">
            <div class="row">
                <div class="col-9 d-flex flex-column align-items-center">
                    <div class="item-icon" th:if="${item.itIsDir}"><i class="icon-folder-empty"></i></div>
                    <div class="item-icon" th:unless="${item.itIsDir}"><i class="icon-doc-text"></i></div>
                </div>
                <div class="col-3 d-flex flex-column justify-content-between align-items-center">
                    <div class="row d-flex justify-content-center w-auto">
                        <i class="item-action delete-icon-action fa fa-times-circle"></i>
                    </div>
                    <div class="row d-flex justify-content-center w-auto">
                        <i class="item-action edit-icon-action fa fa-edit"></i>
                    </div>
                    <div class="row d-flex justify-content-center w-auto">
                        <i class="item-action download-icon-action fa fa-download"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item-name">
                    <span th:text="${item.objectName}" style="font-weight: bold;"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OBJECTS LIST -->
<div th:fragment="itemsList">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4" th:each="item : ${items}">
                <th:block th:include="fragments/common :: minioitem"/>
            </div>
        </div>
    </div>
</div>