@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

body {
    min-width: 350px;
    background: rgb(52, 56, 61);
}

#auth_group_wrapper {
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* === Sign in Form === */
#signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#signin::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}

#signin input:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#signin input:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#signin input[type="text"], #signin input[type="password"], #signin button[type="submit"] {
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
    color: rgb(52, 56, 61);
}

#signin input[type="text"], #signin input[type="password"] {
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

#signin input[type="text"]:focus, #signin input[type="password"]:focus {
    color: rgb(111, 119, 135);
}

#signin button[type="submit"] {
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}

#signin button[type="submit"]:hover {
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}

#signin p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#signin p > a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

#signin p > a:hover {
    border-bottom: 1px solid;
}


.button {
    background-color: rgb(28, 30, 33);
    color: rgb(79, 85, 97);
    border-radius: 5px;
}

.button:hover {
    color: rgb(0, 126, 165);
    text-shadow: 1px 1px 2px rgb(0, 126, 165);
    background-color: rgb(28, 30, 33);
}

.error-message {
    background-color: #fbdbeb;
    border: 1px solid #f18785;
    color: #d64f4f;
    padding: 10px;
    margin: 10px 0;
}

.navbar-toggler {
    color: rgb(79, 85, 97);
    background-color: rgb(28, 30, 33);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:active {
    box-shadow: none;
    color: rgb(0, 126, 165) !important;
    border: 1px solid rgb(28, 30, 33) !important;
}

.action-icons-toggler {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.action-icons-toggler .fa-ellipsis-v {
    color: rgb(28, 30, 33);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.action-icons-toggler:hover .fa-ellipsis-v {
    color: rgb(0, 126, 165);
    text-shadow: 1px 1px 2px rgb(0, 126, 165);
}

.form-control {
    color: rgb(28, 30, 33);
    border-color: rgb(28, 30, 33);
    background-color: rgb(52, 56, 61);
}

.form-control:focus {
    color: rgb(28, 30, 33);
    border-color: rgb(0, 126, 165);
    box-shadow: 0 1px 3px rgb(0, 126, 165);
    background-color: rgb(52, 56, 61);
}

.form-control::placeholder, .form-control:focus::placeholder {
    color: rgb(28, 30, 33);
    background-color: rgb(52, 56, 61);
}

.data-container {
    border: 3px solid rgb(28, 30, 33);
    border-radius: 5px;
    margin-bottom: 3px;
}

.dropzone {
    border: 3px dashed rgb(28, 30, 33) !important;
    border-radius: 10px !important;
    text-align: center !important;
}

.dropzone:hover {
    border-color: rgb(0, 126, 165) !important;
    box-shadow: 0 0 10px rgb(0, 126, 165) !important;
}

.dropzone-previews {
    display: flex;
    flex-direction: column-reverse;
}

.dz-preview {
    border: 1px solid rgb(28, 30, 33) !important;
    border-radius: 10px !important;
    display: flex;
    flex-direction: row;
}

.dz-image {
    margin-right: 10px;
}

.dz-filename {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.dz-size {
    font-size: 14px;
}

.dz-error-message {
    color: red;
}

.dz-remove {
    text-decoration: none;
    color: rgb(28, 30, 33);
}

.dz-remove:hover {
    color: red;
    box-shadow: 0 1px 3px red;
}

.dz-filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dz-progress {
    background: rgb(28, 30, 33);
    height: 3px;
    width: 100%;
    position: relative;
}

.dz-upload {
    display: inline-block;
    height: 100%;
    background: rgb(0, 126, 165);
    position: absolute;
    left: 0;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    background-color: rgb(52, 56, 61);
    border: 1px solid rgb(28, 30, 33);
    display: inline-block;
    width: 10px;
    height: 10px;
}

input[type="checkbox"]:checked + label {
    background-color: rgb(0, 126, 165);
    box-shadow: 0 0 10px rgb(0, 126, 165);
    border: 1px solid rgb(28, 30, 33);
}

.icon {
    display: block; /* Если это иконка или картинка, это может помочь в управлении отступами */
}

@media (max-width: 576px) {
    .item-icon {
        font-size: 38px;
    }

    .item-action {
        font-size: 20px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .item-icon {
        font-size: 38px;
    }

    .item-action {
        font-size: 28px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .item-icon {
        font-size: 48px;
    }

    .item-action {
        font-size: 30px;
    }
}

@media (min-width: 993px) {
    .item-icon {
        font-size: 64px;
    }

    .item-action {
        font-size: 34px;
    }
}

.wrapped-text {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-action {
    color: rgb(28, 30, 33);
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.delete-icon-action:hover {
    color: red;
}

.edit-icon-action:hover {
    color: blue;
}

.download-icon-action:hover {
    color: green;
}

.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style: none;
    margin-bottom: 0;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    content: "/";
}

.home-item {
    flex-shrink: 0;
}

.ellipsis-item {
    flex-shrink: 0;
    display: none;
}

.middle-item {
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last-item {
    flex-shrink: 0;
}

.breadcrumb-item a {
    color: rgb(28, 30, 33);
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb a {
    text-decoration: none; /* Убираем подчеркивание */
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb .active {
    color: rgb(0, 126, 165);
}

@media (max-width: 576px) {
    .middle-item {
        display: none;
    }

    .ellipsis-item {
        display: flex;
    }
}

.scrollable {
    overflow-y: auto;
    height: 300px;
    scrollbar-width: thin;
    scrollbar-color: rgb(28, 30, 33) transparent;
}

.scrollable::-webkit-scrollbar {
    width: 3px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(28, 30, 33);
}

.modal-title {
    font-weight: bold;
}

.modal-content {
    border: 3px solid rgb(28, 30, 33);
    background-color: rgb(52, 56, 61);
    font-weight: bold;
}

.modal-header, .modal-body, .modal-footer {
    background-color: rgb(52, 56, 61);
}

.modal-header {
    border-bottom: 2px solid rgb(28, 30, 33);
}

.modal-footer {
    border-top: 2px solid rgb(28, 30, 33);
}

.modal-header, .modal-footer {
    border-color: rgb(28, 30, 33);
}

.modal-body .form-label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.dir-link {
    text-decoration: none;
    color: inherit;
}

.dir-link:hover {
    color: rgb(0, 126, 165);
}