<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/common :: head"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
</head>
<body>

<th:block th:include="fragments/common :: userbar"/>
<p id="message" class="error-message" th:if="${message}" th:text="${message}" style="display: block"></p>
<div class="d-flex flex-column align-items-center">
    <th:block th:include="fragments/common :: uploadzone"/>
    <button id="startUpload" class="button btn mt-1">Начать загрузку</button>
</div>



<th:block th:include="fragments/common :: previews-container"/>


<script th:inline="javascript">
    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone("#myDropzone", {
        url: "/upload",
        addRemoveLinks: true,
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 100,
        maxFiles: 100,
        previewsContainer: ".dropzone-previews",
        init: function () {
            this.on("sending", function (file, xhr, formData) {
                formData.append("files", file, file.fullPath);
            });
        }
    });
    document.getElementById('startUpload').addEventListener('click', function () {
        myDropzone.processQueue();
    });
</script>
</body>
</html>