<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/common :: head"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
</head>
<body>

<div class="userline">
    <th:block th:include="fragments/common :: userline"/>
</div>
<p id="message" class="error-message"></p>
<div class="uploadzone">
    <th:block th:include="fragments/common :: uploadzone"/>
</div>

<script th:inline="javascript">
    Dropzone.autoDiscover = false;
    var maxFilesize = [[${@environment.getProperty('dropzone.max.file.size')}]];
    var myDropzone = new Dropzone(".dropzone", {
        url: "/files",
        paramName: "files",
        maxFilesize: maxFilesize,
        clickable: true,
        success: function(file, response) {
            this.removeFile(file);
        },
        error: function(file, message) {
            document.getElementById('message').textContent = 'Файл ' + file.name + ' слишком большой!';
            this.removeFile(file);
            return false;
        },
        renameFile: function (file) {
            return file.fullPath;
        }
    });
</script>
</body>
</html>