<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/common :: head"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
</head>
<body>

<div class="userline">
    <th:block th:include="fragments/common :: userline"/>
</div>
<p th:text="${message}" th:if="${message ne null}" class="error-message"></p>
<div class="uploadzone">
    <th:block th:include="fragments/common :: uploadzone"/>
</div>

<script>
    Dropzone.autoDiscover = false; // Dropzone configuration
    var myDropzone = new Dropzone(".dropzone", {
        url: "/files",
        paramName: "files",
        maxFilesize: null,
        addRemoveLinks: false,
        clickable: true,
        success: function(file, response) {
            this.removeFile(file);
        },
        error: function(file, message) {
            this.removeFile(file);
            document.body.innerHTML = message;
        },
        renameFile: function (file) {
            return file.fullPath;
        }
    });
</script>
</body>
</html>