<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/common :: head"/>
</head>
<body>
<div id="wrapper">
    <div class="title fw-bold text-center">Регистрация</div>
    <form method="post" th:action="@{/registration}" th:object="${userDto}" id="signin">
        <input type="text" id="username" th:field="*{username}" placeholder="username" required/>
        <input type="password" id="password" th:field="*{password}" placeholder="password" required/>
        <button type="submit">&#xf0da;</button>
        <div class="text-center">
            <p>Зарегистрированны? <a th:href="@{/login}" class="text-dark">Войдите</a></p>
            <div th:if="${errors} != null">
                <div th:each="error : ${errors.allErrors}">
                    <p th:text="${error.defaultMessage}" style="color: red;"></p>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>