<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/common :: head"/>
</head>

<body>
<div id="wrapper">
    <div class="title fw-bold">Registration</div>
    <form id="signin" th:action="@{/registration}" method="post">
        <input type="text" id="username" name="username" placeholder="username" required />
        <input type="password" id="password" name="password" placeholder="password" required />
        <button type="submit">&#xf0da;</button>
        <p>Already registered? <a th:href="@{/login}" class="text-dark">Login</a></p>
    </form>
</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>